<br />
<div class="card-container">
  <div class="row mx-auto">
    <!-- SSC - Start -->
    <div class="col-4">
      <div class="card card-front" style="width: 15rem">
        <div class="card-body">
          <p class="card-text">
            2018 <br />
            Kalyan, India
          </p>
          <h5 class="card-title">SSC, St. John High School</h5>
          <!-- <p class="card-text">
            I studied primary programming languages in this period with some
            hardware subjects.
          </p> -->
        </div>
      </div>
      <div class="card card-back">
        <div class="card-body back shadow" style="background-color: white">
          <img class="card-img-top ssc" src="../../assets/img/ssc.gif" alt="" />
        </div>
      </div>
    </div>
    <!-- SSC - End -->

    <!-- Diploma - Start -->
    <div class="col-4">
      <div class="card card-front" style="width: 15rem">
        <div class="card-body">
          <p class="card-text">
            08/2018 - 2021 <br />
            Thane, India
          </p>
          <h5 class="card-title">Diploma In Computer Engineering, MSBTE</h5>
          <p class="card-text">
            I studied primary programming languages in this period with some
            hardware subjects.
          </p>
        </div>
      </div>
      <div class="card card-back">
        <div class="card-body back shadow" style="background-color: white">
          <img
            class="card-img-top diploma"
            src=" https://upload.wikimedia.org/wikipedia/commons/3/3b/Msbte.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- Diploma - End -->

    <!-- Bsc it - Start -->
    <div class="col-4">
      <div class="card card-front" style="width: 15rem">
        <div class="card-body">
          <p class="card-text">
            09/2022 - 2024 <br />
            Kurla, India
          </p>
          <h5 class="card-title">BSc.IT (Mumbai University)</h5>
          <p class="card-text">
            I'm studing new things and get to revise some previous subjects.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
      <div class="card card-back">
        <div class="card-body back shadow" style="background-color: white">
          <img
            class="card-img-top idol"
            src="../../assets/img/idol.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- Bsc it - End -->
  </div>

  <div class="course"></div>
  <div class="row mx-auto">
    <!-- ITV - Start -->
    <div class="col-4">
      <div class="card card-front" style="width: 15rem">
        <div class="card-body">
          <p class="card-text">
            2022 - 2023 <br />
            Thane, India
          </p>
          <h5 class="card-title">Python Full Stack Developer</h5>
          <p class="card-text">
            Here I learned
            <b>Python, Web Development (HTML,CSS,JS), MySql, etc</b>.
          </p>
        </div>
      </div>
      <div class="card card-back">
        <div class="card-body back shadow" style="background-color: white">
          <img
            class="card-img-top itv"
            src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/qw1ntg4uwxur6cyn3ov0"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- ITV - End -->

    <!-- Courses - Start -->
    <div class="col-4">
      <div class="card card-front" style="width: 15rem">
        <div class="card-body">
          <p class="card-text">
            2022 - 2023 <br />
            udemy.com
          </p>
          <h5 class="card-title">Courses</h5>
          <p class="card-text">
            I learned <b>Ionic</b> as well as <b>Angular</b> in this online
            platform.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
      <div class="card card-back">
        <div class="card-body back shadow" style="background-color: white">
          <img
            class="card-img-top"
            src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/t1ujun3nwdoehf5k0qaf"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- Courses - End -->

    <!-- <div class="col-4">
      <div class="card card-front" style="width: 15rem">
        <div class="card-body">
          <h5 class="card-title">Education Diploma</h5>
          <p class="card-text">
            I studied primary programming languages in this period with some
            hardware subjects
          </p>
          <p class="card-text">
            date
            <br />
            place
          </p>
        </div>
      </div>
      <div class="card card-back">
        <div class="card-body back shadow" style="background-color: white">
          <img
            class="card-img-top"
            src="https://i.pinimg.com/550x/8a/8c/e1/8a8ce190c6d747b2a186d150de44f7c3.jpg"
            alt=""
          />
        </div>
      </div>
    </div> -->
  </div>
</div>
