<div class="container">
  <div class="row">
    <header>
      <h1>About Me</h1>
    </header>
    <br />
    <br />
    <br />
    <div class="col-lg-8">
      <h5>Name : <span> Ameya Dilip Sawant</span></h5>
      <h5>Age : <span> 22 (28 Nov 2001)</span></h5>
      <h5>Qualification : <span> BSC-IT</span></h5>
      <h5>Post : <span> Front-End Developer</span></h5>
      <h5>Language : <span> English | Marathi | Hindi</span></h5>
      <h5>Intrest : <span> Designing | Traveling | Photography </span></h5>

      <div>
        <h5>Skills : </h5>
        <a
          class="btn btn-primary m-2"
          href="https://getbootstrap.com/"
          role="button"
          >BootStrap</a
        >
        <a class="btn btn-primary m-2" href="https://html.com/" role="button"
          >HTML</a
        >
        <a
          class="btn btn-primary m-2"
          href="https://getbootstrap.com/docs/3.4/css/"
          role="button"
          >CSS</a
        >
        <a class="btn btn-primary m-2" href="https://angular.io/" role="button"
          >Angular</a
        >
        <a
          class="btn btn-primary m-2"
          href="https://ionicframework.com/"
          role="button"
          >Ionic</a
        >
        <a
          class="btn btn-primary m-2"
          href="https://www.javascript.com/"
          role="button"
          >JavaScript</a
        >
        <a
          class="btn btn-primary m-2"
          href="https://www.typescriptlang.org/"
          role="button"
          >TypeScript</a
        >
        <a
          class="btn btn-primary m-2"
          href="https://www.python.org/"
          role="button"
          >Python</a
        >
        <a
          class="btn btn-primary m-2"
          href="https://www.figma.com/"
          role="button"
          >Figma</a
        >
        <a
          class="btn btn-primary m-2"
          href="https://www.freecodecamp.org/news/ui-ux-design-guide/"
          role="button"
          >UI/UX Designing</a
        >
      </div>
    </div>

    <div class="col-lg-4">
      <div class="row">
        <div class="col-5 bg-warning m-2 text-center curve-1">
          <h3>6</h3>
          <strong>Month of experience</strong>
        </div>
        <div class="col-5 bg-dark m-2 curve-2"></div>
      </div>
      <div class="row">
        <div class="col-5 bg-dark m-2 curve-3"></div>
        <div class="col-5 bg-warning m-2 text-center curve-4">
          <h3>5+</h3>
          <strong>Projects Completed</strong>
        </div>
      </div>
    </div>
  </div>
</div>
