<div class="container">
  <div>
    <h3>HII THERE!</h3>
    <h1>I'M <span>Ameya Sawant</span></h1>
    <p>
      A software engineering professional with entry-level experience
      specializing in software development, Angular, software design, Python,
      and JavaScript. Adept at developing custom software solutions for client
      businesses.
    </p>
  </div>

  <div>
    <a href="https://github.com/Ameya-Sawant-01"
      ><img class="btn github"
        src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
        alt=""
    /></a>
    <a href="https://www.linkedin.com/in/ameya-sawant-917850198/"
      ><img class="btn linked"
        src="https://cdn-icons-png.flaticon.com/512/61/61109.png?w=360"
        alt=""
    /></a>
  </div>

  <div>
    <button class="btn btn-dark" routerLink="/about">About Me</button>
  </div>
</div>
